
h1, h2 {
    color: green;
    font-size: 45px;
    margin: 0;
    font-family: "Trebuchet MS", Verdana, sans-serif;
}

h3, h4 {
    color: green;
    font-size: 25px;
    margin: 0;
}

hr{
    background-color: green;
    height: 3px;
}

button{
    width: 150px;
    height:30px;
    font-size: 14px;
    color: yellow;
    background-color: green;
    margin-left: 25px;
}


.title {
    color: darkorange;
}

.wrapper{
    display: flex;
    flex-direction: column;
    padding: 0px;}

.wrapper_head{
display: inline-block;
}

.vl {
    margin-left:251px;
    border-left: 4px dashed;
    height: 60px;
}
.hight1{
    height: 30px;
}

.width1{
    width: 600px}

.activ{
    color:#A52A2A;
}

.activBox{
    background-color: green;
}

.href{
color: blue;
}

.isDisabled {
      pointer-events: none;
      cursor: default;
      text-decoration: none;
      color: #000000;
}


